<nav class="navbar navbar-expand-sm">
  <!-- Brand -->
  <!-- <a class="navbar-brand" href="#" style="padding-left: 30px">Logo</a> -->

  
  <!-- notifications -->
  <ul class="navbar-nav ml-auto">
      <li class="nav-item notifs">
      <a class="nav-link notifs" href="#"><div class="notifs" width="30"></div></a>
      <!-- <span class="badge-pill badge-danger notifs">4</span> -->
      </li>

    <!-- Profile Dropdown -->
    <li class="nav-item dropdown mr-auto">
        <div class="btn-group">
            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://dummyimage.com/60x60/fff/000.png&text=JR" alt="user" class="rounded-circle" style="width:60px">
            </div>
            <!-- <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button> -->
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
      <!-- <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div> -->
    </li>
  </ul>
</nav>