

<ul id="mainNav" style="height:100vh">

  <div class="center">
    <a class="navbar-brand" routerLink="/" style="font-size: 40px">Logo</a>
    <hr>
  </div>


  <li routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">
      <i class="fa fa-th-large"></i>
      <span class='nav-text'>Dashboard</span>
      <span class="badge badge-info">4</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/reports">
      <i class="fa fa-fw fa-envelope"></i>
      <span class='nav-text'>Reports</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a href="#">
      <i class="fa fa-fw fa-cogs"></i>
      <span class="nav-text">Loans</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a href="#">
      <i class="fa fa-fw fa-comment"></i>
      <span class="nav-text">Secondary</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a href="#">
      <i class="fa fa-fw fa-user"></i>
      <span class="nav-text">Payroll</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a href="#">
      <i class="fa fa-fw fa-user"></i>
      <span class="nav-text">Manage</span>
    </a>
  </li>

</ul>
